
.pags{
    background-color: #F68750 ;
    height: 45px;
    display: flex;
    justify-content: end;
    /* padding: 15px;
    margin: 20px;    */
} 



.linkpagsone{
    padding-right: 45px;
    margin-top: 10px;
    text-decoration: none;
}

.linkpagstwo{
    padding-right: 40px;
    margin-top: 10px;
}

.linkpagsthree{
    padding-right: 35px;
    margin-top: 10px;
}


