<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name= "viewport" content= "width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel= "stylesheet" href="./artist.component.css">
</head>

<body>
    <div class= "cartasArtistas">
        <div class="card" style="width: 18rem;">
        <img src="./assets/javiera-mena.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">JAVIERA MENA</h5>
            <p class="card-text">La artista chilena da un salto gigante tras varios años en España.</p>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img src="./assets/Tanxugueiras.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">TANXUGUEIRAS</h5>
            <p class="card-text">Éxito total de las gallegas a pesar del fallo del jurado.</p>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img src="./assets/Rigoberta-bandini.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">RIGOBERTA BANDINI</h5>
            <p class="card-text">El alterego de Paula Ribó se queda sin ir a Eurovisión.</p>
        </div>
        </div>
    </div>
</body>